.todo {
    margin: auto;
    background-color: rgb(0, 0, 255, 0.1);
    width: 800px;
    border-radius: 50px;
    padding: 20px;
}

.Contacto {
    cursor: default;
    color: rgb(255, 217, 0);
}

ul {
    list-style-type: square;
}

h1 {
    border-radius: 20px;
    margin: auto;
    width: 500px;
    text-align: center;
    background-color: rgb(0, 0, 255, 0.1);
}

.barrabusqueda {
    padding: 20px;
    color: white;
    justify-content: center;
    display: flex;
    gap: 5rem;
    background-color: black;
    border-bottom: 10px double rgb(255, 255, 255);
    border-top: 10px double rgb(255, 255, 255);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    padding: 20px;
    background-color: rgb(155, 155, 155);
    text-decoration: none;
}

.textonosotros {
    background-color: rgb(0, 0, 255, 0.3);
    width: ;
}

.footer {
    padding: 20px;
    color: white;
    justify-content: center;
    display: flex;
    gap: 5rem;
    background-color: black;
    border-bottom: 10px double rgb(255, 255, 255);
    border-top: 10px double rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 50px;
}

.contenedor {
    padding: 10px;
    margin: auto;
    width: 400px;
    height: 370px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
}

.mensaje {
    text-align: center;
}

textarea {
    resize: none;
    width:390px;
    height: 100px;
}

input[type=submit] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: inset 5px;
}

input[type=text], input[type=telefono], input[type=email] {
    border-bottom: 3px solid rgb(0, 0, 255);
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 5px;
    width: 390px;
}

textarea[name=mensaje] {
    border: 5px solid blue;
    border-radius: 10px;
}